{% extends layout %}

{% block content %}
  {{ css("auth/src/ifaces/Auth/Suspended.css") }}

  <div class="container auth-suspended">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4>{{ "frontend.auth.suspended.header"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "frontend.auth.suspended.message"|i18n }}</p>
            <p>
              <a class="btn btn-primary" href="{{ activate_url }}">
                {{ "frontend.auth.suspended.activate"|i18n }}
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
