{% extends "@notifications/default/email" %}

{% block body %}
    <h2 style="color: red">Error logging subsystem failure on site <a href="{{ url }}">{{ url }}</a>!</h2>

    <p>{{ subsystem.message }}</p>
    <p>{{ subsystem.stacktrace|nl2br }}</p>

    <h2 style="color: blue">Original exception was</h2>
    <p>{{ original.message }}</p>
    <p>{{ original.stacktrace|nl2br }}</p>
{% endblock %}
