{% if layout in ["image", "button"] %}
  {% set style = "display: block; margin: 15px 0; text-align: center" %}
{% endif %}

<a href="{{ url }}" title="{{ title }}" class="{{ class ~ " download-attachment" }}"
   target="_blank" style="{{ style|default() }}">
  {% if layout == "image" %}
    <img src="{{ image }}" alt="{{ alt }}" style="max-width: 100%" />
  {% elseif layout == "button" %}
    <img src="{{ static("images/download-button.png") }}" alt="{{ alt }}" />
  {% else %}
    {{ label|default(title) }}
  {% endif %}
</a>
