{% if images|length %}

  {{ js("require.js/content.config.js") }}
  {{ js("content/gallery-shortcode.js") }}
  {{ js("content/fancybox.js") }}
  {{ js("content/fancybox.i18n.ru.js") }}

  {{ css("content/node_modules/slick-carousel/slick/slick.css") }}
  {{ css("content/node_modules/slick-carousel/slick/slick-theme.css") }}
  {{ css("content/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css") }}

  {% if layout == "slider" %}

    <div class="content-gallery content-gallery-slider">
      {% for image in images %}
        {% set caption = image.attributes.title|default(image.attributes.alt) %}
        <a href="{{ image.href }}" data-fancybox="gallery-{{ id }}" data-caption="{{ caption }}" class="carousel-cell">
          {{ image(image.attributes, null, true) }}
          <div class="image-caption">{{ caption }}</div>
        </a>
      {% endfor %}
    </div>

  {% else %} {# "masonry" and "default" layouts are just the same right now #}

    <div class="content-gallery content-gallery-masonry row {{ "columns-" ~ columns }}">
      {% for image in images %}
        {% set caption = image.attributes.title|default(image.attributes.alt) %}
        <a href="{{ image.href }}" class="fancybox content-gallery-masonry-item col"
           data-fancybox="gallery-{{ id }}" data-caption="{{ caption }}">
          {{ image(image.attributes, { class: "responsive-img" }, true) }}
        </a>
      {% endfor %}
    </div>

  {% endif %}

{% else %}
  {# No images #}
{% endif %}
