{{ js("require.js/content.config.js") }}
{{ js("content/image-shortcode.js") }}
{{ js("content/fancybox.js") }}
{{ js("content/fancybox.i18n.ru.js") }}

{{ css("content/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css") }}

{% if layout == "default" %}

  {% if zoomable %}
    <a href="{{ href }}" title="{{ image.title|default(image.alt) }}" class="fancybox" data-caption="{{ caption }}">
  {% endif %}

  {{ image(image, { class: image.class ~ " responsive-img" }) }}

  {% if zoomable %}
    </a>
  {% endif %}

{% elseif layout == "caption" %}

  {% set attrs = {class: "responsive-img", alt: caption, title: caption } %}

  <div class="wp-caption {{ align ~ " " ~ class }}">
    <a href="{{ href }}" class="fancybox" data-caption="{{ caption }}">
      {{ image(image, attrs) }}
    </a>
    <span class="wp-caption-text image-caption">{{ caption }}</span>
  </div>

{% endif %}

