{{ js("require.js/content.config.js") }}
{{ js("content/image-shortcode.js") }}
{{ js("content/fancybox.js") }}
{{ js("content/fancybox.i18n.ru.js") }}

{{ css("content/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css") }}

{% if layout == "default" %}

  {% if zoomable %}
    <a href="{{ href }}" title="{{ image.title|default(image.alt) }}" class="fancybox {{ alignClass }}" data-caption="{{ caption }}">
      {{ image(image, {}, true) }} {# ~ " responsive-img" #}
    </a>
  {% else %}
    {{ image(image, {class: alignClass}, true) }} {# ~ " responsive-img" #}
  {% endif %}

{% elseif layout == "caption" %}

  <div class="wp-caption {{ alignClass }}">
    <a href="{{ href }}" class="fancybox" data-caption="{{ caption }}">
      {{ image(image, {alt: caption, title: caption }, true) }} {# class: "responsive-img",  #}
    </a>
    <span class="wp-caption-text image-caption">{{ caption }}</span>
  </div>

{% endif %}

