{{ js("auth/dist/manifest.js") }}
{{ js("auth/dist/vendor.js") }}
{{ js("auth/dist/auth.js") }}

<section class="widget-auth text-center container" data-providers="{{ providers|join(",") }}">

  <h1 class="mb-4">{{ "error.auth.required"|i18n }}</h1>

  <div class="widget-auth-providers-container">
    {% for provider in providers %}
      {{ widget("Auth_" ~ provider|capitalize) }}
    {% endfor %}
  </div>

</section>
