{% extends layout %}

{% block page_content %}
  <section id="admin-webhooks-infoItem">

    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a class="breadcrumb" href="{{ listItemsUrl }}">WebHooks List Items</a>
          <span class="breadcrumb">Info Item</span>
        </div>
      </div>
    </nav>

    <div class="row"></div>
    <div class="info">
      <h3>Info</h3>
      {% for key,value in info %}
        <div>
          <span class="col s1">
            {{ key }}:
          </span>
          <span class="col s11">
            {{ value }}
          </span>
        </div>
      {% endfor %}
    </div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="request">
      <h3>Request Emulation</h3>
      <form method="{{ request.method }}" action="{{ request.action }}" target="_blank">
        {% for name,value in request.fields %}
          <div class="input-field">
            <i class="material-icons prefix">chevron_right</i>
            <input type="text" id="admin-webhooks-info-request-input-{{ name }}" name="{{ name }}" value="{{ value }}">
            <label for="admin-webhooks-info-request-input-{{ name }}">{{ name }}</label>
          </div>
        {% endfor %}
        <button class="btn green lighten-1 waves-effect waves-light" type="submit">
          Send
        </button>
      </form>
    </div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="logs">
      <h3>Logs</h3>
    </div>

  </section>
{% endblock %}
