{% extends layout %}


{% block page_content %}
  {{ css('layout.css') }}
  {{ css('infoItem.css') }}
  {{ js('infoItem.js') }}


  <section id="admin-webhooks-infoItem" class="admin-webhooks-layout">


    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a class="breadcrumb" href="{{ listItemsUrl }}">WebHooks</a>
          <span class="breadcrumb">Info Item</span>
        </div>
      </div>
    </nav>


    <section class="info">
      <h3>Info</h3>
      {% for key,value in info %}
        <div class="row clear row-margin-bottom-0">
          <span class="col s1">
            {{ key }}:
          </span>
          <span class="col s11">
            {{ value }}
          </span>
        </div>
      {% endfor %}
    </section>


    <section class="request">
      <h3>Request Emulation</h3>
      <form method="{{ request.method }}" action="{{ request.action }}" target="_blank">
        {% for name,value in request.fields %}
          <div class="input-field">
            <i class="material-icons prefix">chevron_right</i>
            <input type="text" id="admin-webhooks-info-request-input-{{ name }}" name="{{ name }}" value="{{ value }}">
            <label for="admin-webhooks-info-request-input-{{ name }}">{{ name }}</label>
          </div>
        {% endfor %}
        <button class="btn green lighten-1 waves-effect waves-light" type="submit"
                data-action="submitRequest"
                data-action-event
        >
          Send
        </button>
      </form>
    </section>


    <section class="logs">
      <h3>
        Logs
        <a class="icon text-size-12" href="" title="">
          <i class="material-icons tiny">replay</i>
          <span>update</span>
        </a>
      </h3>
      {% if logItems %}
        {% for item in logItems %}
          <div class="collection">

            <a href="" title="" class="repeat btn green lighten-1 waves-effect waves-light"
               data-action="repeatRequest"
               data-fields="{{ item.requestData|json_encode }}"
            >
              Repeat
            </a>

            {% for key,value in item %}
              <div class="collection-item row clear">

                <span class="col s2">
                  {{ key }}:
                </span>
                <span class="col s10">

                  {% if value is not iterable %}
                    {% if key != 'dateCreated' %}
                      {{ value }}
                    {% else %}
                      {{ value.format('Y-m-d H:i:s') }}
                    {% endif %}
                  {% else %}
                    {% for valueKey,valueValue in value %}
                      <div>
                        {{ valueKey }}: {{ valueValue }}
                      </div>
                    {% endfor %}
                  {% endif %}

                </span>

              </div>
            {% endfor %}

          </div>
        {% endfor %}
      {% endif %}
    </section>


  </section>
{% endblock %}
