{% extends '@layouts/only_content' %}

{% block content %}
  {{ js('wamp/Admin/Tests/bundle/test.js') }}
  {{ csp("style", "unsafe-inline") }}

  <div class="row">
    <div class="col s12 m6">


      <section id="testWampRpcTest-loader" class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </section>


      <section class="testWampRpcTest row" style="display:none"
               data-template
               data-case="{{ case }}"
               data-case-return-value='{{ case_value|raw }}'
               data-connectionType="{{ connection_type }}"
               data-testsQty="{{ tests_qty }}"
               data-qtyInPack="{{ qty_in_pack }}"
               data-delayPack="{{ delay_pack }}"
      >
        <div class="card">
          <div class="card-content">
            <p class="card-title">
              Test
            </p>
            <div style="font-size:12px">
              <p data-item style="display:none;position:absolute;left:0;top:0;padding:2px;font-size:9px;line-height:9px;background:#f00;">
                Error: <span data-name="error">None</span>
              </p>
              <p>
                Connection1: <span data-name="connectionType"></span>
              </p>
              <p>
                Status: <span data-name="status"></span>
              </p>
              <p>
                Tests: <span data-name="testsQty">0</span>
              </p>
              <p>
                Requests: <span data-name="requestsQty">0</span>
              </p>
              <div class="progress">
                <div class="determinate orange" data-name="requestsProgress"></div>
              </div>
              <p>
                Responses: <span data-name="responsesQty">0</span>
              </p>
              <div class="progress">
                <div class="determinate green" data-name="responsesProgress"></div>
              </div>
              <p>
                Errors: <span data-name="errorsQty">0</span>
              </p>
              <div class="progress">
                <div class="determinate red" data-name="errorsProgress"></div>
              </div>
              <p>
                Average exec: <span data-name="averageExecutionTime">0</span>ms
              </p>
              <p>
                Connection: <span data-name="connectionTime">0</span>ms
              </p>
              <p>
                Connection try: <span data-name="connectionTry">0</span>
              </p>
            </div>
            <div class="card-action" data-links>
              <a href="" data-action="stop">Stop</a>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>


{% endblock %}
