{% extends layout %}

{% macro group_list(groups_data) %}
      <table>
        <tbody>

        {% for group in groups_data %}
          <tr class="{{ group.is_enabled ? "" : "grey lighten-3" }}">
            <td>
              <a href="{{ group.url }}">{{ group.name|upper }}</a><br/>

              {% for role in group.roles %}
                <span class="badge grey white-text">{{ role }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>

{% endmacro %}

{% import _self as this %}

{% block content %}

  {% if enabled_groups|length > 0 %}
    {{ this.group_list(enabled_groups) }}
  {% endif %}

  {% if disabled_groups|length > 0 %}
    {{ this.group_list(disabled_groups) }}
  {% endif %}

{% endblock %}
