{% extends layout %}

{% block content %}

  <div class="row">
    <div class="col s12">
      <div class="row">
        {% if filters.user.id %}
          <div class="col">
            <a href="?message={{ filters.message }}">
              <span class="">{{ filters.user.name }} / {{ filters.user.email }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}

        {% if filters.message %}
          <div class="col">
            <a href="?user={{ filters.user.id }}">
              <span class="">{{ filters.message }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col s12">

      {% if items|length > 0 %}
        <table>

          <thead>
          <tr>
            <th>Processed at</th>
            <th>Target</th>
            <th>Name</th>
            <th>Transport</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          {% for item in items %}
            {% set item_classes = "" %}

            {% if item.is_read %}
              {% set item_classes = "light-green lighten-4" %}
            {% elseif not item.is_succeeded %}
              {% set item_classes = "red white-text" %}
            {% endif %}

            <tr class="{{ item_classes }}">
              <td>{{ item.processed_at|date("d.m.Y @ H:i:s") }}</td>
              <td>
                {% if item.user_id %}
                  <a href="?user={{ item.user_id }}&message={{ filters.message }}">{{ item.target }}</a>
                {% else %}
                  {{ item.target }}
                {% endif %}
              </td>
              <td>
                <a href="?user={{ filters.user.id }}&message={{ item.name }}">{{ item.name }}</a>
              </td>
              <td>{{ item.transport }}</td>
              <td><a href="{{ item.body_url }}" class="btn blue right" target="_blank">Check body</a></td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="center-align">
          No logs yet.
        </p>
      {% endif %}

    </div>
  </div>


{% endblock %}
