{% extends layout %}

{% block content %}

  <div class="row">
    {% if filters.defined %}
      <div class="col s12">
        <div class="row">
          {% if filters.target.identity %}
            <div class="col">
              <a href="{{ filters.target.clear_url }}" class="btn btn-small blue">
                {{ filters.target.identity }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.message.name %}
            <div class="col">
              <a href="{{ filters.message.clear_url }}" class="btn btn-small blue">
                {{ filters.message.name }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.status.name %}
            <div class="col">
              <a href="{{ filters.status.clear_url }}" class="btn btn-small blue">
                {{ filters.status.name|upper }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.transport.name %}
            <div class="col">
              <a href="{{ filters.transport.clear_url }}" class="btn btn-small blue">
                {{ filters.transport.name|upper }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="col s12">

      {% if items|length > 0 %}
        <table>

          <thead>
          <tr>
            <th>State</th>
            <th>Processed at</th>
            <th>Target</th>
            <th>Name</th>
            <th>Transport</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          {% for item in items %}
            {% set item_classes = "" %}

            {% if item.is_read %}
              {% set item_classes = "light-green lighten-4" %}
            {% elseif not item.is_succeeded %}
              {% set item_classes = "red white-text" %}
            {% endif %}

            <tr class="{{ item_classes }}">
              <td>
                <a href="{{ item.status_url }}">
                  {% if item.is_succeeded %}
                    <i class="material-icons">done</i>
                  {% else %}
                    <i class="material-icons">close</i>
                  {% endif %}
                </a>
              </td>
              <td>{{ item.processed_at|date("d.m.Y @ H:i:s") }}</td>
              <td>
                <a href="{{ item.user_url }}">
                  {{ item.target }}
                </a>
              </td>
              <td>
                <a href="{{ item.message_url }}">
                  {{ item.name }}
                </a>
              </td>
              <td>
                <a href="{{ item.transport_url }}">
                  {{ item.transport }}
                </a>
              </td>
              <td class="right-align">
                {% if item.retry_url %}
                  <a href="{{ item.retry_url }}" class="btn blue" target="_blank">Retry</a>
                {% endif %}

                <a href="{{ item.body_url }}" class="btn blue" target="_blank">Check body</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="center-align">
          No logs yet.
        </p>
      {% endif %}

    </div>
  </div>


{% endblock %}
