{% extends layout %}

{% block content %}

  <div class="row">
    {% if filters.defined %}
      <div class="col s12">
        <div class="row">
          {% if filters.target.identity %}
            <div class="col">
              <a href="{{ filters.target.clear_url }}" class="btn btn-small blue">
                {{ filters.target.identity }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.message.name %}
            <div class="col">
              <a href="{{ filters.message.clear_url }}" class="btn btn-small blue">
                {{ filters.message.name }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.status.name %}
            <div class="col">
              <a href="{{ filters.status.clear_url }}" class="btn btn-small blue">
                {{ filters.status.name|upper }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}

          {% if filters.transport.name %}
            <div class="col">
              <a href="{{ filters.transport.clear_url }}" class="btn btn-small blue">
                {{ filters.transport.name|upper }}
                <i class="material-icons right">close</i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="col s12">

      {% if items|length > 0 %}

        {% import "@templates/notification-logs-macros" as logs_macros %}

        {{ logs_macros.logs_list(items) }}

        <div>
          <br />
          {% if prev_page_url %}
            <a href="{{ prev_page_url }}" class="btn teal left">
              Prev
              <i class="material-icons left">chevron_left</i>
            </a>
          {% endif %}

          {% if next_page_url %}
            <a href="{{ next_page_url }}" class="btn teal right">
              Next
              <i class="material-icons right">chevron_right</i>
            </a>
          {% endif %}
        </div>
      {% else %}
        <p class="center-align">
          No logs yet.
        </p>
      {% endif %}

    </div>
  </div>


{% endblock %}
