{% extends layout %}

{% block content %}

  <div class="row">
    <div class="col s12">
      <div class="row">
        {% if filters.user.id %}
          <div class="col">
            <a href="?message={{ filters.message }}&status={{ filters.status }}&transport={{ filters.transport }}">
              <span>{{ filters.user.name }} / {{ filters.user.email }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}

        {% if filters.message %}
          <div class="col">
            <a href="?user={{ filters.user.id }}&status={{ filters.status }}&transport={{ filters.transport }}">
              <span>{{ filters.message }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}

        {% if filters.status %}
          <div class="col">
            <a href="?user={{ filters.user.id }}&message={{ filters.message }}&transport={{ filters.transport }}">
              <span>{{ filters.status|upper }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}

        {% if filters.transport %}
          <div class="col">
            <a href="?user={{ filters.user.id }}&message={{ filters.message }}&status={{ filters.status }}">
              <span>{{ filters.transport|upper }}</span>
              <span class="red-text">&times;</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col s12">

      {% if items|length > 0 %}
        <table>

          <thead>
          <tr>
            <th>State</th>
            <th>Processed at</th>
            <th>Target</th>
            <th>Name</th>
            <th>Transport</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          {% for item in items %}
            {% set item_classes = "" %}

            {% if item.is_read %}
              {% set item_classes = "light-green lighten-4" %}
            {% elseif not item.is_succeeded %}
              {% set item_classes = "red white-text" %}
            {% endif %}

            <tr class="{{ item_classes }}">
              <td>
                {% if item.is_succeeded %}
                  <a href="?user={{ filters.user.id }}&message={{ filters.message }}&status={{ item.status }}&transport={{ filters.transport }}">
                    <i class="material-icons">done</i>
                  </a>
                {% else %}
                  <a href="?user={{ filters.user.id }}&message={{ filters.message }}&status={{ item.status }}&transport={{ filters.transport }}">
                    <i class="material-icons">close</i>
                  </a>
                {% endif %}
              </td>
              <td>{{ item.processed_at|date("d.m.Y @ H:i:s") }}</td>
              <td>
                {% if item.user_id %}
                  <a href="?user={{ item.user_id }}&message={{ filters.message }}&status={{ filters.status }}&transport={{ filters.transport }}">
                    {{ item.target }}
                  </a>
                {% else %}
                  {{ item.target }}
                {% endif %}
              </td>
              <td>
                <a href="?user={{ filters.user.id }}&message={{ item.name }}&status={{ filters.status }}&transport={{ filters.transport }}">
                  {{ item.name }}
                </a>
              </td>
              <td>
                <a href="?user={{ filters.user.id }}&message={{ filters.message }}&status={{ filters.status }}&transport={{ item.transport }}">
                  {{ item.transport }}
                </a>
              </td>
              <td><a href="{{ item.body_url }}" class="btn blue right" target="_blank">Check body</a></td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="center-align">
          No logs yet.
        </p>
      {% endif %}

    </div>
  </div>


{% endblock %}
