{% extends layout %}

{% set status_icon = { new: "assignment_late", repeated: "repeat", resolved: "assignment_ind", ignored: "not_interested" } %}

{% block content %}

  {{ js("require.js/error.requirejs.config.js") }}
  {{ js("ifaces/admin-error/php-exception-item.js") }}

  <div class="row">
    <div class="col s12">
      <a class="btn left" href="{{ backUrl }}">
        <i class="material-icons left">view_list</i>
        Return to list
      </a>

      <div class="right right-align">
        {% if not isResolved %}
          <button class="btn green resolve-error-button" data-hash="{{ hash }}" data-done-text="Fixed"
                  data-done-icon="done" title="Fixed">
            <i class="icon material-icons">done</i>
            {#<span class="text"></span>#}
          </button>
        {% endif %}

        {% if not isIgnored %}
          <button class="btn orange ignore-error-button" data-hash="{{ hash }}" data-done-text="Ignored"
                  data-done-icon="done" title="Ignore">
            <i class="icon material-icons">not_interested</i>
            {#<span class="text"></span>#}
          </button>
        {% endif %}

        <button class="btn red delete-error-button" data-hash="{{ hash }}" data-done-text="Deleted"
                data-done-icon="done" title="Delete">
          <i class="icon material-icons">delete</i>
          {#<span class="text"></span>#}
        </button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <h1>{{ message }}</h1>
    </div>

    <div class="col s12">
      <p>
        Last seen at <span class="orange chip">{{ lastSeenAt }}</span> (total {{ counter }} times)&nbsp;

        {% if modules|length %}
          in modules: &nbsp;
          {% for module in modules %}
            <span class="chip">{{ module }}</span>
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div class="col s12">

      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">cloud</i>Urls</div>
          <div class="collapsible-body">
            <ul class="collection">
              {% for url in urls %}
                <li class="collection-item"><a href="{{ url }}" target="_blank">{{ url }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">folder</i>Paths</div>
          <div class="collapsible-body">
            <ul class="collection">
              {% for path in paths %}
                <li class="collection-item truncate">{{ path }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">history</i>History</div>
          <div class="collapsible-body">
            <ul class="collection">
              {% for item in history %}
                <li class="collection-item">
                  <i class="material-icons left">{{ status_icon[item.status] }}</i>
                  <span class="truncate">{{ item.user ?: "Guest" }}&nbsp;at&nbsp;{{ item.time }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header"><i class="material-icons">info</i>Trace</div>
          <div class="collapsible-body">
            <iframe src="{{ trace_url }}" width="100%" class="trace-iframe" frameborder="0" scrolling="no"></iframe>
          </div>
        </li>
      </ul>

    </div>

  </div>

{% endblock %}
