{% extends layout %}

{% block content %}
  {% if trace %}
    {# Allow automatic iframe resizing #}
    {{ js("error/node_modules/iframe-resizer/js/iframeResizer.contentWindow.min.js") }}
    {{ csp("script", "eval") }}
    {{ csp("script", "unsafe-inline") }}
    {{ csp("style", "unsafe-inline") }}

    {{ trace|raw }}
  {% else %}
    <h1 style="color:red">Stacktrace file is missing!</h1>
  {% endif %}
{% endblock %}
