{% extends layout %}

{% set status_icon = { new: "assignment_late", repeated: "repeat", resolved: "assignment_ind", ignored: "not_interested" } %}

{% block page_content %}
  <div class="row">
    <div class="col s12">
      <a class="btn left" href="{{ backUrl }}">
        <i class="material-icons left">view_list</i>
        К списку
      </a>

      <div class="right right-align">
        {% if not isResolved %}
          <button class="btn green resolve-error-button" data-hash="{{ hash }}" data-done-text="Исправлена"
                  data-done-icon="done" title="Исправлена">
            <i class="icon material-icons">done</i>
            {#<span class="text"></span>#}
          </button>
        {% endif %}

        {% if not isIgnored %}
          <button class="btn orange ignore-error-button" data-hash="{{ hash }}" data-done-text="В игноре"
                  data-done-icon="done" title="Игнорировать">
            <i class="icon material-icons">not_interested</i>
            {#<span class="text"></span>#}
          </button>
        {% endif %}

        <button class="btn red delete-error-button" data-hash="{{ hash }}" data-done-text="Удалена"
                data-done-icon="done" title="Удалить">
          <i class="icon material-icons">delete</i>
          {#<span class="text"></span>#}
        </button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      Последний раз ошибка встречается <span class="orange chip">{{ lastSeenAt }}</span> (всего {{ counter }} раз)&nbsp;

      {% if modules|length %}
        в модулях: &nbsp;
        {% for module in modules %}
          <span class="chip">{{ module }}</span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col s12 m4 l4 xl4">
      по следующим адресам:
      <ul class="collection">
        {% for url in urls %}
          <li class="collection-item"><a href="{{ url }}" target="_blank">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col s12 m4 l4 xl5">
      в следующих файлах:<br/>

      <ul class="collection">
        {% for path in paths %}
          <li class="collection-item truncate">{{ path }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col s12 m4 l4 xl3">
      История изменений:
      <ul class="collection">
        {% for item in history %}
          <li class="collection-item">
            <i class="material-icons left">{{ status_icon[item.status] }}</i>
            <span class="badge">{{ item.user ?: "Guest" }}</span>
            <span class="truncate">{{ item.time }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col s12">
      {% if trace %}
        <h3>Оригинальный стектрейс</h3>
        {{ trace|raw }}
      {% else %}
        <div class="card-panel red">Файл стектрейса отсутствует</div>
      {% endif %}
    </div>

  </div>

  <script type="text/javascript">

    require([
      'jquery',
      'error.api.rpc.definition'
    ], function ($, api) {

      $(function () {
        var $resolveButton = $('.resolve-error-button'),
          $ignoreButton = $('.ignore-error-button'),
          $deleteButton = $('.delete-error-button');

        function processActionButtonClick($button, apiMethod) {
          $button.attr('disabled', 'disabled');

          var hash = $button.data('hash');

          apiMethod(hash)
            .done(function () {
              var text = $button.data('done-text'),
                icon = $button.data('done-icon');

              $button.find('.text').text(text);
              $button.find('.icon').text(icon);
            })
            .fail(function (message) {
              alert(message || 'Oops! Something went wrong...');
              $button.removeAttr('disabled');
            });
        }

        $resolveButton.click(function (e) {
          e.preventDefault();
          processActionButtonClick($(this), api.phpException.resolve);
        });

        $ignoreButton.click(function (e) {
          e.preventDefault();
          processActionButtonClick($(this), api.phpException.ignore);
        });

        $deleteButton.click(function (e) {
          e.preventDefault();
          processActionButtonClick($(this), api.phpException.delete);
        });

      });

    });

  </script>

{% endblock %}
