{% if langs_name %}
  {{ js("i18n/widgets/dist/ChangeLanguageWidgetVendor.js") }}
  {{ js("i18n/widgets/dist/ChangeLanguageWidget.js") }}

  <section id="change_language_widget">
    <form action="{{ action_url }}" method="post">

      <select title="">
        <option value="{{ lang_name_active }}">{{ lang_name_active|upper }}</option>
        {% for lang_name in langs_name if lang_name != lang_name_active %}
          <option value="{{ lang_name }}">{{ lang_name|upper }}</option>
        {% endfor %}
      </select>

    </form>
  </section>

{% endif %}
