{% if langs_code %}
  {{ js("widgets/language-selection/dist/vendor.js") }}
  {{ js("widgets/language-selection/dist/widget.js") }}

  <section id="language_selection">
    <form action="{{ action_url }}" method="post">
      <select title="">
        <option value="{{ lang_code_active }}">{{ lang_code_active|upper }}</option>
        {% for lang_code in langs_code if lang_code != lang_code_active %}
          <option value="{{ lang_code }}">{{ lang_code|upper }}</option>
        {% endfor %}
      </select>
    </form>
  </section>

{% endif %}
