{% extends "@notifications/default/email" %}

{% block body %}
  {{ target_name }}, ваш комментарий от {{ created_at }} к записи
  "<strong>{{ label }}</strong>" утверждён и опубликован по адресу <a href="{{ url }}">{{ url }}</a>
{% endblock %}
