<div class="widget-auth-regular span4 offset4 well">
    <h1>{{ 'Sign in'|i18n }}</h1>
    <div class="alert alert-error hide"></div>
    <form method="POST" data-action="{{ login_url }}" name="regular-login-form" class="form-horizontal">
        <input type="text" name="user-login" class="span4 form-control" placeholder="{{ 'Your username or email'|i18n }}" />
        <input type="password" name="user-password" class="span4 form-control" placeholder="{{ 'Your password'|i18n }}" />

        <label>
            <input type="checkbox" name="remember" class="span4 form-control" /> {{ 'Remember me'|i18n }}
        </label>

        <button type="submit" class="btn btn-info btn-block"><i class="icon-user icon-white"></i> {{ 'Sign in'|i18n }}</button>
    </form>
    <a href="{{ reset_password_url }}" class="pull-right">{{ "Forgot password?"|i18n }}</a>
</div>
