{#{{ assets('bootstrap') }}#}

<div class="widget-auth-regular span4 offset4 well">
    <h1>{{ __('Sign in') }}</h1>
    <div class="alert alert-error hide"></div>
    <form method="POST" data-action="{{ login_url }}" name="regular-login-form" class="form-horizontal">
        <input type="text" name="user-login" class="span4 form-control" placeholder="{{ __('Your username or email') }}" />
        <input type="password" name="user-password" class="span4 form-control" placeholder="{{ __('Your password') }}" />

        <label>
            <input type="checkbox" name="remember" class="span4 form-control" /> {{ __('Remember me') }}
        </label>

        <button type="submit" class="btn btn-info btn-block"><i class="icon-user icon-white"></i> {{ __('Sign in') }}</button>
    </form>
    <a href="{{ reset_password_url }}" class="pull-right">{{ __("Forgot password?") }}</a>
</div>
