{% extends layout %}

{% block content %}

  <div class="row">
    <div class="col s12">

      <div class="right">
        <br>
        <a href="{{ filter.self }}" class="btn {{ filter.current ? "" : "green" }}">All</a>
        {% for filter_item in filter.list %}
          <a href="{{ filter_item.url }}" class="btn {{ filter.current == filter_item.name ? "green" : "" }}">
            {{ filter_item.label }}
          </a>
        {% endfor %}

        <span>&nbsp;&nbsp;</span>

        {% for display_item in display.list %}
          <a href="{{ display_item.url }}" class="btn {{ display.current == display_item.name ? "green" : "" }}">
            {{ display_item.label }}
          </a>
        {% endfor %}
      </div>

      <h1>
        {% if filter.current %}
          Keys required translation ({{ items|length }} total)
        {% else %}
          Translation keys list ({{ items|length }} total)
        {% endif %}
      </h1>

      {% if display.current == "rich" %}
        <table>
          <thead>
          <tr>
            <td>#</td>
            <td>Key with default value</td>
          </tr>
          </thead>
          <tbody>

          {% for item in items %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <a href="{{ item.url }}">{{ item.key }}</a><br/>
                <small>{{ item.value }}</small>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      {% elseif display.current == "plain" %}
        <table>
          <thead>
          <tr>
            <td>#</td>
            <td>Key</td>
            <td>Default value</td>
          </tr>
          </thead>
          <tbody>

          {% for item in items %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      {% endif %}

    </div>
  </div>

{% endblock %}
