{% extends layout %}

{% block content %}

  <h1>{{ key }}</h1>

  <form id="i18n-common-edit-form" action="{{ action }}" method="post">

    {% for data in values %}
      {% if is_plural %}
        {% for form, value in data.value %}
          <label>
            {{ data.lang.label }}
            <input type="text" name="{{ data.lang.name ~ "[" ~ form ~ "]" }}" value="{{ value }}"/>
          </label>
        {% endfor %}
      {% else %}
        <label>
          {{ data.lang.label }}
          <input type="text" name="{{ data.lang.name }}" value="{{ data.value }}"/>
        </label>
      {% endif %}
    {% endfor %}

    <button type="submit" class="btn green">Save</button>
  </form>


{% endblock %}
