{% extends layout %}

{% block page_content %}

    {{ js('tiny_mce/tinymce.min.js') }}
    {{ js('tiny_mce/jquery.tinymce.min.js') }}

    {{ js('jquery/word-and-character-counter/jquery.word-and-character-counter.min.js') }}

    <form action="">
        <div class="form-group">
            <label for="article-label">Label</label>
            <input type="text" name="label" id="article-label" class="form-control" value="{{ article.label }}" />
        </div>

        <div class="form-group">
            <label for="article-uri">URI</label>
            <input type="text" name="uri" id="article-uri" class="form-control" value="{{ article.uri }}" readonly />
        </div>

        <div class="form-group">
            <label for="article-content">Content</label>
            <textarea name="content" id="article-content" class="form-control" rows="25">{{ article.content }}</textarea>
        </div>

        <div class="form-group">
            <label for="article-title">HTML &lt;title&gt;</label>
            <input type="text" name="title" id="article-title" class="form-control" value="{{ article.title }}" />
            <span id="article-title-remaining" class="help-block"></span>
        </div>

        <div class="form-group">
            <label for="article-description">HTML &lt;description&gt;</label>
            <textarea name="description" id="article-description" class="form-control" rows="3">{{ article.description }}</textarea>
            <span id="article-description-remaining" class="help-block"></span>
        </div>

    </form>

    {# TODO thumbnails edit #}

    {# TODO https://www.tinymce.com/docs/configure/content-appearance/ #}

    <script type="application/javascript">

        $(function() {

            var $title = $('#article-title'),
                $description = $('#article-description');

            tinymce.init({
                selector: "textarea#article-content",
                plugins: "code table contextmenu paste link advlist noneditable",
                theme: "modern",
                menubar: false,
                toolbar: "undo redo | paste pastetext | styleselect blockquote | bold italic strikethrough underline | alignleft aligncenter alignright alignjustify | numlist bulllist | indent outdent | link image | table code"
            });

            var counterConfig = {
                count: 'down',
                msg: 'символов осталось'
            };

            $title.counter($.extend({}, counterConfig, {
                goal: 60,
                target: '#article-title-remaining'
            }));

            $description.counter($.extend({}, counterConfig, {
                goal: 160,
                target: '#article-description-remaining'
            }));
        });

    </script>

{% endblock %}
