{% extends layout %}

{% block content %}

  {{ js("ifaces/HttpError403.js") }}
  {{ css("ifaces/HttpError403.css") }}

  <div class="container error-403">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4>{{ "error.http.403.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.403.message"|i18n }}</p>

            <p class="center-align">
              <button class="btn btn-primary back-button">
                {{ "error.http.back-button"|i18n }}
              </button>
            </p>
          </div>

          {% if email %}
          <div class="card-footer">
            <p>{{ "error.http.403.email"|i18n({email: email}) }}</p>
          </div>
          {% endif %}
        </div>

        {% if not in_production() %}

          {% if message %}
            <div>
              {{ message }}
            </div>
          {% endif %}

          {% if trace %}
            <div>
              {{ trace }}
            </div>
          {% endif %}

        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
