{% extends layout %}

{% block page_content %}

  {{ js("require.js/admin.config.js") }}
  {{ js("ifaces/error-500/error-500.js") }}
  {{ css("ifaces/error-500/error-500.css") }}

  <div class="valign-wrapper error-500">
    <div class="valign center-block">
      <div class="card-panel blue-grey white-text">
        {% block header %}
        <h1>{{ "error.http.500.label"|i18n }}</h1>
        {% endblock %}

        <p>{{ "error.http.500.p1"|i18n }}</p>
        <p>{{ "error.http.500.p2"|i18n }}</p>
        <p>
          <button class="btn flat cancel-refresh">{{ "error.http.500.button.cancel"|i18n }}</button>
        </p>

        {#<p>{{ "error.http.500.p3"|i18n({ hash: hash }) }}</p>#}

        <div class="progress">
          <div class="determinate blue"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
