{% extends layout %}

{% block content %}
  {{ css("ifaces/HttpError400.css") }}
  {{ js("ifaces/HttpError400.js") }}

  <div class="container error-400">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4>{{ "error.http.400.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.400.message"|i18n }}</p>
            <p>
              <button class="btn btn-primary back-button">
                {{ "error.http.back-button"|i18n }}
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
