{% extends layout %}

{% block page_content %}

  <div class="valign-wrapper error-403" style="height: 100%">
    <div class="valign center-block">
      <div class="card-panel blue-grey white-text">
        {% block header %}
          <h1 class="center-align">{{ label }}</h1>
        {% endblock %}

        <p class="center-align">{{ "error.http.403.message"|i18n }}</p>

        <p class="center-align">
          {% if is_guest %}
            <a href="{{ login_url }}" class="btn btn-large green">
              {{ "error.http.403.login_button"|i18n }}
            </a>
          {% else %}
            <button class="btn btn-large green" onclick="window.history.back(); return false;">
              {{ "error.http.back_button"|i18n }}
            </button>
          {% endif %}
        </p>
      </div>
    </div>
  </div>

{% endblock %}
