{% extends layout %}

{% block content %}

  {{ css("ifaces/HttpError403.css") }}

  <div class="container error-403">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4>{{ "error.http.403.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.403.message"|i18n }}</p>

            <p class="center-align">
              {% if is_guest %}
                <a href="{{ login_url }}" class="btn btn-secondary">
                  {{ "error.http.403.login-button"|i18n }}
                </a>
              {% else %}
                <a href="javascript:history.back()" class="btn btn-secondary">
                  {{ "error.http.back-button"|i18n }}
                </a>
              {% endif %}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
