{% extends layout %}

{% block content %}

  {{ csp("style", "'sha256-RJk7SLvS9djISjaSBq84QFSFMyLOV/Lm9sooJsL8n3I='") }}

  <div class="container error-403">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4>{{ "error.http.403.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.403.message"|i18n }}</p>

            <p class="center-align">
              {% if is_guest %}
                <a href="{{ login_url }}" class="btn btn-secondary">
                  {{ "error.http.403.login_button"|i18n }}
                </a>
              {% else %}
                <button class="btn btn-secondary" onclick="window.history.back(); return false;">
                  {{ "error.http.back_button"|i18n }}
                </button>
              {% endif %}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <style>
    html, body {
      height: 100%;
    }

    .error-403 {
      height: 100%;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }

    .error-403 h4 {
      margin: 0 auto;
    }

    .error-403 p {
      display: block;
      margin-top: 15px;
    }
  </style>

{% endblock %}
