{% extends layout %}

{% block content %}
  {{ css("ifaces/HttpError404.css") }}
  {{ js("ifaces/HttpError404.js") }}

  <div class="container error-404">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block card_header %}
            <div class="card-header">
              <h4 class="center-align">{{ "error.http.404.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>
              {{ "error.http.404.p1"|i18n }}<br/>
              {{ "error.http.404.p2"|i18n }}
            </p>

            {% block search_form "" %}

            <p>
              <button class="btn btn-primary back-button">
                {{ "error.http.back-button"|i18n }}
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
