{{ entry("widgets/CookiesNotificationWidget") }}

<section id="cookies_notification_widget"
         data-header="{{ 'cookies_notification.header'|i18n }}"
         data-message="{{ 'cookies_notification.message'|i18n }}"
         data-dismiss="{{ 'cookies_notification.dismiss'|i18n }}"
         data-link="{{ 'cookies_notification.link'|i18n }}"
         data-href="/privacy"
>
</section>
