{{ css("cookies-notification/widgets/dist/cookieconsent.min.css") }}
{{ js("cookies-notification/widgets/dist/cookieconsent.min.js") }}
{{ js("cookies-notification/widgets/dist/CookiesNotificationWidget.js") }}

<section id="cookies_notification_widget"
         data-header="{{ 'cookies_notification.header'|i18n }}"
         data-message="{{ 'cookies_notification.message'|i18n }}"
         data-dismiss="{{ 'cookies_notification.dismiss'|i18n }}"
         data-link="{{ 'cookies_notification.link'|i18n }}"
         data-href="/privacy"
>
</section>
