{% extends layout %}

{% block page_content %}

  {{ js("ifaces/admin/content-comment-list.js") }}
  {{ css("ifaces/admin/content-comment-list.css") }}

  {% set actions_config = {
    "approve":          { color: "green", icon: "thumb_up" },
    "reject":           { color: "red", icon: "thumb_down" },
    "markAsSpam":       { color: "orange", icon: "warning" },
    "moveToTrash":      { color: "red", icon: "delete" },
    "restoreFromTrash": { color: "green", icon: "settings_backup_restore" },
  } %}

  <div class="comments-list">
    {% for comment in comments %}
      <div class="card hoverable"> {# sticky-action #}
        <div class="card-content">
          <div class="card-title grey-text text-darken-4">
            [{{ comment.author.ip }}] {{ comment.author.name }}&nbsp;&raquo;&nbsp;
            <a href="{{ comment.publicURL }}" title="Просмотр на сайте" target="_blank">{{ comment.contentLabel }}</a>
          </div>
          <p>{{ comment.message|nl2br }}</p>
        </div>
        <div class="card-action">
          <a href="{{ comment.editURL }}" class="btn">
            <i class="material-icons left">mode_edit</i>
            {{ "comment.action.edit"|i18n }}
          </a>
          <div class="right">
            {% for target_codename, transition in comment.status.transitions %}
              {% set button_config = actions_config[transition] %}
              <button class="btn transition-button {{ button_config.color }}"
                      data-api-method="{{ transition }}" data-id="{{ comment.id }}"
                      data-target-label="{{ ("comment.status." ~ target_codename)|i18n }}">
                <i class="material-icons left">{{ button_config.icon }}</i>
                {{ ("comment.status.transition." ~ transition)|i18n }}
              </button>
            {% endfor %}
          </div>
        </div>
        <div class="card-overlay valign-wrapper white">
          <h3 class="valign">
            <i class="material-icons tiny green-text">done</i>
            <span class="label"></span>
          </h3>
        </div>
      </div>
    {% else %}
      <h3 class="center">
        {{ "comment.list.empty"|i18n }}
      </h3>
    {% endfor %}
  </div>

{% endblock %}
