{% extends layout %}

{% block page_content %}

    {% set actions_config = {
        "approve":          { color: "green", icon: "thumb_up" },
        "reject":           { color: "red", icon: "thumb_down" },
        "markAsSpam":       { color: "orange", icon: "warning" },
        "moveToTrash":      { color: "red", icon: "delete" },
        "restoreFromTrash": { color: "green", icon: "settings_backup_restore" },
    } %}

    <div class="comments-list">
        {% for comment in comments %}
            <div class="card"> {# sticky-action #}
                <div class="card-content">
                    <div class="card-title grey-text text-darken-4">
                        [{{ comment.author.ip }}] {{ comment.author.name }} &raquo; <a href="{{ comment.publicURL }}" title="Просмотр на сайте" target="_blank">{{ comment.contentLabel }}</a>
                    </div>
                    <p>{{ comment.message|nl2br }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ comment.editURL }}" class="btn">
                        <i class="material-icons left">mode_edit</i>
                        {{ "comment.action.edit"|i18n }}
                    </a>
                    <div class="right">
                        {% for target_codename, transition in comment.status.transitions %}
                            {% set button_config = actions_config[transition] %}
                            <button class="btn transition-button {{ button_config.color }}"
                                    data-api-method="{{ transition }}" data-id="{{ comment.id }}"
                                    data-target-label="{{ ("comment.status." ~ target_codename)|i18n }}">
                                <i class="material-icons left">{{ button_config.icon }}</i>
                                {{ ("comment.status.transition." ~ transition)|i18n }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-overlay valign-wrapper white">
                    <h3 class="valign">
                        <i class="material-icons tiny green-text">done</i>
                        <span class="label"></span>
                    </h3>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="application/javascript">
      require([
        "jquery",
        "content.api.rpc.definition",
        "materialize.cards"
      ], function($, api) {

        $(function() {

          var $transitionButtons = $(".transition-button");

          $transitionButtons.click(function(e) {
            e.preventDefault();
            $transitionButtons.attr('disabled', 'disabled');

            var $this = $(this),
                id = $this.data("id"),
                method = $this.data("api-method"),
                targetLabel = $this.data("target-label"),
                $card = $this.closest('.card'),
                $overlay = $card.find('.card-overlay'),
                $overlayLabel = $overlay.find('.label');

            api.comment[method](id)
              .done(function() {
                $overlayLabel.text(targetLabel);
                $card.addClass('processed');
              })
              .fail(function(message) {
                alert(message || 'Oops! Something went wrong...');
              })
              .always(function() {
                $transitionButtons.removeAttr('disabled');
              });

          });

        });

      });
    </script>

    <style>

        .card .card-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 10;
            vertical-align: middle;
        }

        .card .card-overlay .valign {
            width: 100%;
            text-align: center;
        }

        .card .card-overlay .label {
            vertical-align: middle;
            font-size: 1.6rem;
        }

        .card .card-overlay .material-icons {
            vertical-align: middle;
            font-size: 1.6rem;
        }

        .card.processed .card-overlay {
            display: flex;
            opacity: 1;
        }

    </style>

{% endblock %}
