{% extends layout %}

{% block page_content %}

  {% set actions_config = {
  "complete":         { color: "green", icon: "done", autosave: true },
  "publish":          { color: "green", icon: "present_to_all", autosave: true },
  "reject":           { color: "orange", icon: "thumb_down", autosave: false },
  "pause":            { color: "grey", icon: "pause", autosave: false },
  "fix":              { color: "orange", icon: "settings_backup_restore", autosave: false },
  } %}

  {% set isUpdateAllowed = post.isUpdateAllowed %}

    {{ js("ckeditor/ckeditor.js") }}
    {{ js("ckeditor/adapters/jquery.js") }}

    {{ js("ifaces/admin/content-post-item.js") }}
    {{ css("ifaces/admin/content-post-item.css") }}

  <div class="row">
      <form id="post-form" action="" method="post" class="col s12" data-update-allowed="{{ isUpdateAllowed|bool }}">
        <input type="hidden" name="id" value="{{ post.id }}" />
          <div class="row">
              <div class="input-field col s12">
                  <input name="label" id="article-label" placeholder="Post label" value="{{ post.label }}" {{ isUpdateAllowed ? "" : "disabled" }} />
                  <label for="article-label">Label</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <input name="uri" id="article-uri" value="{{ post.uri }}" disabled />
                  <label for="article-uri">URI</label>
              </div>
          </div>

        {% if post.needsCategory %}
          <div class="row">
            <div class="input-field col s12">
              <select name="category" id="article-category" {{ isUpdateAllowed ? "" : "disabled" }}>
                <option value="" disabled>Select category</option>
                {# TODO category selection #}
              </select>
              <label for="article-category">Category</label>
            </div>
          </div>
        {% endif %}

        {# TODO thumbnails edit (maybe select from content images) #}
        <div class="row">
          <div class="col s12">
            {% for thumb_id,thumb_image in post.thumbnails %}
              {{ image(thumb_image, {"data-id": thumb_id, class: "responsive-img"}) }}
            {% endfor %}
          </div>
        </div>

        <div class="row">
              <div class="input-field col s12">
                  {#<textarea name="content" id="article-content" rows="25" style="height: 100vh" {{ isUpdateAllowed ? "" : "disabled" }}>{{ post.content }}</textarea>#}
                  {#<div id="article-content" data-custom-tags="{{ shortcodes|join(",") }}">{{ post.content|raw }}</div>#}
                  <textarea id="article-content" name="content" {{ isUpdateAllowed ? "" : "disabled" }}
                            data-custom-tags="{{ shortcodes|join(",") }}">
                    {{ post.content }}
                  </textarea>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <input name="title" id="article-title" class="form-control" value="{{ post.title }}" data-length="60" placeholder="Post title, used in HTML &lsaquo;title&rsaquo; tag" {{ isUpdateAllowed ? "" : "disabled" }} />
                  <label for="article-title">HTML &lt;title&gt;</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <textarea name="description" id="article-description" class="materialize-textarea" rows="3" data-length="160" placeholder="Post title, used in HTML &lt;description&gt; meta tag" {{ isUpdateAllowed ? "" : "disabled" }}>{{ post.description }}</textarea>
                  <label for="article-description">HTML &lt;description&gt; meta tag</label>
              </div>
          </div>

          <div class="row">
              <div class="col s12">
                <div class="right">
                  {# transitions #}
                  {% for target_codename, transition in post.status.transitions %}
                    {% set button_config = actions_config[transition] %}
                    <button class="btn transition-button ckeditor-autosave-saved-trigger {{ button_config.color }}"
                            data-api-method="{{ transition }}" data-id="{{ post.id }}"
                            data-autosave="{{ button_config.autosave|bool }}">
                      <i class="material-icons left">{{ button_config.icon }}</i>
                      {{ ("post.status.transition." ~ transition)|i18n }}
                    </button>
                  {% endfor %}
                </div>

                <button class="btn save-post-button" data-id="{{ post.id }}" {{ isUpdateAllowed ? "" : "disabled" }}>
                  {{ "post.action.save"|i18n }}
                </button>
              </div>
          </div>
      </form>
  </div>

{% endblock %}
