{% extends layout %}

{% block page_content %}

    {#{{ js('tiny_mce/tinymce.min.js') }}#}
    {#{{ js('tiny_mce/jquery.tinymce.min.js') }}#}

    {{ js("ckeditor/ckeditor.js") }}
    {{ js("ckeditor/adapters/jquery.js") }}
    {#{{ js("ckeditor/config.js") }}#}

    {{ js('jquery/word-and-character-counter/jquery.word-and-character-counter.min.js') }}

  <div class="row">
      <form action="" class="col s12">
          <div class="row">
              <div class="input-field col s12">
                  <input type="text" name="label" id="article-label" placeholder="Post label" value="{{ post.label }}" />
                  <label for="article-label">Label</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <input type="text" name="uri" id="article-uri" placeholder="Post label" value="{{ post.uri }}" readonly />
                  <label for="article-uri">URI</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <textarea name="content" id="article-content" rows="25" style="height: 100vh">{{ post.content }}</textarea>
                  {#<label for="article-content">Content</label>#}
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <input type="text" name="title" id="article-title" class="form-control" value="{{ post.title }}" data-length="60" />
                  <label for="article-title">HTML &lt;title&gt;</label>
                {#<span id="article-title-remaining" class="help-block"></span>#}
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <textarea name="description" id="article-description" class="materialize-textarea" rows="3" data-length="160">{{ post.description }}</textarea>
                  <label for="article-description">HTML &lt;description&gt;</label>
                {#<span id="article-description-remaining" class="help-block"></span>#}
              </div>
          </div>

          <div class="row">
              <div class="col s12">
                  <button class="btn save-post-button" type="submit">Save</button>

                {{ dump(post.transitions) }}

                {# transitions #}
                {% if "publish" in post.transitions %}
                    <button class="btn publish-post-button">Publish</button>
                {% endif %}

                {% if "pause" in post.transitions %}
                    <button class="btn pause-post-button">Pause</button>
                {% endif %}
              </div>
          </div>
      </form>
  </div>

    {# TODO thumbnails edit #}
    {# TODO character counter #}

    {# TODO https://www.tinymce.com/docs/configure/content-appearance/ #}

    <script type="application/javascript">

        require([
          'jquery',
          'materialize.forms',
          'materialize.charCounter'
        ], function($) {

          $(function() {

            var $content = $('#article-content'),
                $title = $('#article-title'),
                $description = $('#article-description');

            var customTagsRules = {{ custom_tags_rules|json_encode|raw }};
            var customTagsRulesString = "{{ custom_tags_rules|join("; ") }}";

            $.each(customTagsRules, function(name) {
//                console.log(name);
              CKEDITOR.dtd[name] = { id : 1 };
              CKEDITOR.dtd.$empty[name] = 1;
              CKEDITOR.dtd.body[name] = 0;
              CKEDITOR.dtd.$inline[name] = 1;
            });

            $content.ckeditor({
              height: "calc(100vh - 200px)",
//              className: "test-class",
              autosave_SaveKey: '{{ "betakiller-post-" ~ post.id }}',
              allowedContent: "p; strong; i; em; span[style]; table[class]; thead; tbody; tr; th[style]; td[style]; ul[class]; ol[class]; li; a[href,title]; h2; h3; h4; " + customTagsRulesString
            });

            {#tinymce.init({#}
            {#selector: "textarea#article-content",#}
            {#plugins: "code table contextmenu paste link advlist noneditable",#}
            {#theme: "modern",#}
            {#menubar: false,#}
            {#valid_children: "p[{{ custom_tags_list|join(",") }}",#}
            {#extended_valid_elements: "{{ custom_tags_list|join("[id|class|align|alt|title|width|height],") }}",#}
            {#custom_elements: "{{ custom_tags_list|join(",") }}",#}
            {#toolbar: "undo redo | paste pastetext | styleselect blockquote | bold italic strikethrough underline | alignleft aligncenter alignright alignjustify | numlist bulllist | indent outdent | link image | table code"#}
            {#});#}

//            var counterConfig = {
//                count: 'down',
//                msg: 'символов осталось'
//            };
//
//            $title.counter($.extend({}, counterConfig, {
//                goal: 60,
//                target: '#article-title-remaining'
//            }));
//
//            $description.counter($.extend({}, counterConfig, {
//                goal: 160,
//                target: '#article-description-remaining'
//            }));

            $title.add($description).characterCounter();
          });

        });

    </script>

{% endblock %}
