{% extends layout %}

{% block content %}

  <div class="row">
    <div class="col s12">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table id="post-revisions" class="bordered highlight">
        <tr>
          <th>ID</th>
          <th>Created at</th>
          <th>Created by</th>
          <th>Is actual</th>
        </tr>

        {% for revision in revisions %}
        <tr>
          <td>
            <a href="{{ revision.diff_url }}">{{ revision.id }}</a>
          </td>
          <td><a href="{{ revision.diff_url }}">{{ revision.created_at }}</a></td>
          <td>{{ revision.created_by }}</td>
          <td class="text-center">
            {% if revision.is_actual %}
              <button class="btn btn-flat" disabled>
                Actual
              </button>
              {% else %}
                <button class="publish-revision btn green" data-id="{{ revision.id }}">
                  {#<i class="small material-icons left">done</i>#}
                  Publish
                </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
