<div class="wp_caption {{ align ~ " " ~ class }}"> {# {{ (width > 0 ? 'style="width:' ~ width ~ 'px"' : '')|raw }} #}
    <img src="{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}" srcset="{{ image.srcset }}" class="responsive-img" />
    <p class="wp-caption-text">{{ caption }}</p>
</div>
