{% if images|length %}

    <div class="carousel carousel-slider center" data-indicators="true">
        {#<div class="carousel-fixed-item center">#}
            {#<a class="btn waves-effect white grey-text darken-text-2">button</a>#}
        {#</div>#}

        {% for image in images %}
        <a class="carousel-item amber white-text" href="#image-{{ loop.index }}">
            {#<h2>First Panel</h2>#}
            <img src="{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}" srcset="{{ image.srcset }}" class="img-responsive" />
            {#<p class="white-text">This is your first panel</p>#}
        </a>
        {% endfor %}
    </div>

{% else %}
    no images
{% endif %}

{# TODO type-related blocks #}
