{% include "@layouts/admin.materialize" %}

{#{{ css("css/layout-admin.css")}}#}

{# include css with materialize build #}
{{ css("admin/css/admin.css") }}
{{ css("https://fonts.googleapis.com/icon?family=Material+Icons") }}

{{ csp("style", "fonts.googleapis.com") }}
{{ csp("font", "fonts.gstatic.com") }}

{# For legacy UI #}
{{ csp("style", "'unsafe-inline'") }}
{{ csp("script", "'unsafe-inline'") }}

{{ js("require.js/admin.config.js") }}
{{ js("layouts/admin.js") }}

<div id="admin-side-nav" class="sidenav sidenav-fixed">
  {{ widget('Admin_Menu_Main', { menu: "admin", depth: 2 }) }}
</div>

<div id="admin-page-container">

  {#<header>#}
  {#{{ widget('Admin_Bar') }}#}
  {#</header>#}

  <main>
    <div class="row">

      <nav class="grey white-text">
        <div class="nav-wrapper">
          <div class="col s12">
            {{ widget("Breadcrumbs", {skip_root: true}) }}
          </div>
        </div>
      </nav>

      <br />

      <div class="col s12">
        {% block content "" %}
      </div>
    </div>
  </main>

  {#<footer>#}
  {#<div class="col s12">no footer yet</div>#}
  {#</footer>#}
</div>

{% block before_end "" %}
