{% if enabled is defined and enabled == true %}

  {# include fonts and materialize layout #}
  {{ css("https://fonts.googleapis.com/icon?family=Material+Icons") }}
  {{ css("admin/css/admin.css") }}
  {{ js("widgets/admin-bar.js") }}

  <header id="admin-bar" class="navbar-fixed">
    <nav class="green lighten-5 black-text">
      <div class="nav-wrapper">
        <div class="{{ not isAdminZone ? "container" : "" }}">

          <ul class="right">
            {% if primaryEntity.publicUrl %}
              <li>
                <a href="{{ primaryEntity.publicUrl }}" class="view-entity-button">
                  <i class="material-icons left tiny">visibility</i>
                  {{ "admin.bar.public"|i18n }}
                </a>
              </li>
            {% endif %}

            {% if primaryEntity.previewUrl %}
              <li>
                <a href="{{ primaryEntity.previewUrl }}" class="preview-entity-button" target="_blank">
                  <i class="material-icons left tiny">visibility</i>
                  {{ "admin.bar.preview"|i18n }}
                </a>
              </li>
            {% endif %}

            {% if primaryEntity.adminUrl %}
              <li>
                <a href="{{ primaryEntity.adminUrl }}" class="edit-entity-button">
                  <i class="material-icons left tiny">mode_edit</i>
                  {{ "admin.bar.edit"|i18n }}
                </a>
              </li>
            {% endif %}
          </ul>

          <ul class="left">

            {% if createButtonItems|length > 0 %}
            <li>
              <a href="#!" data-activates="admin-bar-create-dropdown" data-hover="true" data-constrainWidth="false" data-belowOrigin="true" class="dropdown-button">
                <i class="material-icons left">note_add</i>
                {{ "admin.bar.create"|i18n }}
              </a>

              <ul id="admin-bar-create-dropdown" class="dropdown-content">
                {% for item in createButtonItems %}
                <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}

            {% if comments %}
            <li>
              <a href="{{ comments.url }}">
                <i class="material-icons left tiny">chat</i>
                {{ "admin.bar.comments"|i18n }}
                {% if comments.count %}
                <span class="new badge orange" data-badge-caption="{{ "admin.bar.comments.new.badge"|plural(comments.count) }}">
                  {{ comments.count }}
                </span>
                {% endif %}
              </a>
            </li>
            {% endif %}

          </ul>




          {#<ul class="right hide-on-med-and-down">#}
            {#<li><a href="sass.html"><i class="material-icons">search</i></a></li>#}
            {#<li><a href="badges.html"><i class="material-icons">view_module</i></a></li>#}
            {#<li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>#}
            {#<li>#}

            {#</li>#}
          {#</ul>#}
        </div>
      </div>
    </nav>
  </header>

{% endif %}
